// COMMON :: START

#fullpage {
	&:after {
		content: '';
		z-index: 9999;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
	}

	&.is-load {
		&:after {
			opacity: 0;
			visibility: hidden;
			@include transition(opacity, visibility);
		}
	}
}

.section {
	@include adaptive(767) {
		height: auto !important;

		> .fp-tableCell {
			height: auto !important;
		}
	}

	&__wrapper {
		width: 100%;
		height: 100%;
		padding: 30px 95px;
		@include adaptive(767) {
			padding: 75px 41px;
			height: auto;
		}
	}
}

// COMMON :: END
