// COMMON :: START

#pagepiling {
	&:after {
		content: '';
		z-index: 9999;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
	}

	&.is-load {
		&:after {
			opacity: 0;
			visibility: hidden;
			@include transition(opacity, visibility);
		}
	}
}

.section {
	&__wrapper {
		width: 100%;
		height: 100%;
	}
}

// COMMON :: END
