@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.shop__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.35s;
       -o-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 1;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 35px;
  height: 19px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #030404;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -8px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-down-arrow:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 38, src/scss/_generated/_spriteFont.scss */
.icon-down-arrow:before {
  content: "";
}

@font-face {
  font-family: "GlacialIndifference";
  src: url("../fonts/GlacialIndifference-Bold.woff2") format("woff2"), url("../fonts/GlacialIndifference-Bold.woff") format("woff"), url("../fonts/GlacialIndifference-Bold.ttf") format("truetype"), url("../fonts/GlacialIndifference-Bold.svg#GlacialIndifference") format("svg");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "GlacialIndifference";
  src: url("../fonts/GlacialIndifference-Regular.woff2") format("woff2"), url("../fonts/GlacialIndifference-Regular.woff") format("woff"), url("../fonts/GlacialIndifference-Regular.ttf") format("truetype"), url("../fonts/GlacialIndifference-Regular.svg#GlacialIndifference") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "StylishClassyFont";
  src: url("../fonts/StylishClassyFont.woff2") format("woff2"), url("../fonts/StylishClassyFont.woff") format("woff"), url("../fonts/StylishClassyFont.ttf") format("truetype"), url("../fonts/StylishClassyFont.svg#StylishClassyFont") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "GlacialIndifference", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.section__wrapper {
  width: 100%;
  height: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 11, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px 0;
}

/* line 11, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 17, src/scss/_components/_header.scss */
.header .hamburger {
  z-index: 2000;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* line 3, src/scss/_components/_menu.scss */
.menu {
  z-index: 1000;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  height: 100%;
  padding: 180px 95px 50px;
  -webkit-box-shadow: -5 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: -5 0 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 20, src/scss/_components/_menu.scss */
.menu.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 27, src/scss/_components/_menu.scss */
.menu__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 31, src/scss/_components/_menu.scss */
.menu__nav-link {
  position: relative;
}

/* line 34, src/scss/_components/_menu.scss */
.menu__nav-link:after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 46, src/scss/_components/_menu.scss */
.menu__nav-link:hover:after {
  width: 100%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 51, src/scss/_components/_menu.scss */
.menu__nav-link:hover p {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  color: #ffffff !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 59, src/scss/_components/_menu.scss */
.menu__nav-link--main {
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8px;
}

/* line 66, src/scss/_components/_menu.scss */
.menu__nav-link--main p {
  z-index: 2;
  position: relative;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 75, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(1) p {
  color: #46c7dd;
}

/* line 79, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(1):after {
  background-color: #46c7dd;
}

/* line 84, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(2) p {
  color: #e7717d;
}

/* line 88, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(2):after {
  background-color: #e7717d;
}

/* line 93, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(3) p {
  color: #d68162;
}

/* line 97, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(3):after {
  background-color: #d68162;
}

/* line 101, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(4) {
  margin-bottom: 20px;
}

/* line 104, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(4) p {
  color: #8c994c;
}

/* line 108, src/scss/_components/_menu.scss */
.menu__nav-link--main:nth-of-type(4):after {
  background-color: #8c994c;
}

/* line 114, src/scss/_components/_menu.scss */
.menu__nav-link--additional {
  font-size: 25px;
  color: #c0b9b1;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}

/* line 121, src/scss/_components/_menu.scss */
.menu__nav-link--additional:hover {
  color: #505050;
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  padding: 30px 30px 55px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 9, src/scss/_components/homepage/_main.scss */
.main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

/* line 19, src/scss/_components/homepage/_main.scss */
.main__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 27, src/scss/_components/homepage/_main.scss */
.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* line 33, src/scss/_components/homepage/_main.scss */
.main__content > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}

/* line 40, src/scss/_components/homepage/_main.scss */
.main__content h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8px;
}

/* line 48, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(1) a {
  color: #46c7dd;
}

/* line 51, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(1) a:after {
  background-color: #46c7dd;
}

/* line 57, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(2) a {
  color: #e7717d;
}

/* line 60, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(2) a:after {
  background-color: #e7717d;
}

/* line 66, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(3) a {
  color: #d68162;
}

/* line 69, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(3) a:after {
  background-color: #d68162;
}

/* line 75, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(4) a {
  color: #8c994c;
}

/* line 78, src/scss/_components/homepage/_main.scss */
.main__content h4:nth-of-type(4) a:after {
  background-color: #8c994c;
}

/* line 84, src/scss/_components/homepage/_main.scss */
.main__content h4 a {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 91, src/scss/_components/homepage/_main.scss */
.main__content h4 a:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 96, src/scss/_components/homepage/_main.scss */
.main__content h4 a:hover:after {
  height: 100%;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

/* line 102, src/scss/_components/homepage/_main.scss */
.main__content h4 a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

/* line 112, src/scss/_components/homepage/_main.scss */
.main__content h4 a span {
  z-index: 2;
  position: relative;
}

/* line 119, src/scss/_components/homepage/_main.scss */
.main__content h3 {
  font-size: 16px;
  color: #505050;
  line-height: 1.1;
}

/* line 125, src/scss/_components/homepage/_main.scss */
.main__content h1 {
  font-size: 80px;
  color: #505050;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 8px;
}

/* line 135, src/scss/_components/homepage/_main.scss */
.main__arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 140, src/scss/_components/homepage/_main.scss */
.main__arrow span {
  display: block;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #030404;
  border-bottom: 2px solid #030404;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: mouse-scroll 1s infinite;
          animation: mouse-scroll 1s infinite;
}

/* line 151, src/scss/_components/homepage/_main.scss */
.main__arrow span:nth-of-type(1) {
  margin-top: 1px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/* line 155, src/scss/_components/homepage/_main.scss */
.main__arrow span:nth-of-type(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  margin-top: -6px;
}

/* line 160, src/scss/_components/homepage/_main.scss */
.main__arrow span:nth-of-type(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  margin-top: -6px;
}

/* line 167, src/scss/_components/homepage/_main.scss */
.main__arrow-wrapper {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* line 3, src/scss/_components/homepage/_about.scss */
.about {
  background-color: #faefe9;
}

/* line 6, src/scss/_components/homepage/_about.scss */
.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* line 13, src/scss/_components/homepage/_about.scss */
.about__content {
  width: 100%;
  max-width: 655px;
  margin-left: auto;
  margin-right: auto;
}

/* line 20, src/scss/_components/homepage/_about.scss */
.about__line {
  width: 3px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: #505050;
}

/* line 29, src/scss/_components/homepage/_about.scss */
.about__title {
  padding-bottom: 45px;
  font-size: 40px;
  color: #505050;
}

/* line 34, src/scss/_components/homepage/_about.scss */
.about__title span {
  font-family: 'StylishClassyFont', sans-serif;
  font-size: 35px;
}

/* line 40, src/scss/_components/homepage/_about.scss */
.about__slogan {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* line 49, src/scss/_components/homepage/_about.scss */
.about__desc {
  padding-bottom: 45px;
  font-size: 25px;
  color: #d68162;
  font-weight: bold;
}

/* line 56, src/scss/_components/homepage/_about.scss */
.about__subtitle {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 3, src/scss/_components/homepage/_works.scss */
.works {
  padding: 80px;
  background-color: #bfb9b1;
}

/* line 7, src/scss/_components/homepage/_works.scss */
.works__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 12, src/scss/_components/homepage/_works.scss */
.works__block {
  position: relative;
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 13px 25px;
  background-color: #ffffff;
}

/* line 21, src/scss/_components/homepage/_works.scss */
.works__block-badge {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 29, src/scss/_components/homepage/_works.scss */
.works__block-badge--heart > div:nth-of-type(1) {
  background-color: #e7717d;
}

/* line 36, src/scss/_components/homepage/_works.scss */
.works__block-badge--soul > div:nth-of-type(1) {
  background-color: #8c994c;
}

/* line 43, src/scss/_components/homepage/_works.scss */
.works__block-badge--body > div:nth-of-type(1) {
  background-color: #d68162;
}

/* line 50, src/scss/_components/homepage/_works.scss */
.works__block-badge--heart > div:nth-of-type(1) {
  background-color: #46c7dd;
}

/* line 56, src/scss/_components/homepage/_works.scss */
.works__block-badge > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  background-color: #ffffff;
}

/* line 62, src/scss/_components/homepage/_works.scss */
.works__block-badge > div:nth-of-type(1) {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 67, src/scss/_components/homepage/_works.scss */
.works__block-badge > div:nth-of-type(2) {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 73, src/scss/_components/homepage/_works.scss */
.works__block-badge p,
.works__block-badge span {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

/* line 80, src/scss/_components/homepage/_works.scss */
.works__block-badge p {
  color: #ffffff;
}

/* line 84, src/scss/_components/homepage/_works.scss */
.works__block-badge span {
  color: #505050;
}

/* line 90, src/scss/_components/homepage/_works.scss */
.works__block-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 45px;
}

/* line 95, src/scss/_components/homepage/_works.scss */
.works__block-head img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 104, src/scss/_components/homepage/_works.scss */
.works__block-body {
  text-align: center;
}

/* line 108, src/scss/_components/homepage/_works.scss */
.works__block-title {
  padding-bottom: 20px;
  font-size: 40px;
  color: #505050;
}

/* line 114, src/scss/_components/homepage/_works.scss */
.works__block-desc {
  width: 100%;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  font-size: 18px;
  color: #505050;
}

/* line 124, src/scss/_components/homepage/_works.scss */
.works__block-line {
  width: 100%;
  max-width: 130px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #c0bab1;
}

/* line 134, src/scss/_components/homepage/_works.scss */
.works__block-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 139, src/scss/_components/homepage/_works.scss */
.works__block-link a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  color: #505050;
}

/* line 151, src/scss/_components/homepage/_works.scss */
.works__block-link a:hover:before, .works__block-link a:hover:after {
  width: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 158, src/scss/_components/homepage/_works.scss */
.works__block-link a:before, .works__block-link a:after {
  content: '';
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: calc(100% + 2px);
  width: 0;
  height: 2px;
  background-color: #505050;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 169, src/scss/_components/homepage/_works.scss */
.works__block-link a:before {
  left: 50%;
}

/* line 172, src/scss/_components/homepage/_works.scss */
.works__block-link a:after {
  right: 50%;
}

/* line 3, src/scss/_components/homepage/_news.scss */
.news {
  background-color: #bfb9b1;
}

/* line 6, src/scss/_components/homepage/_news.scss */
.news__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 11, src/scss/_components/homepage/_news.scss */
.news__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

/* line 20, src/scss/_components/homepage/_news.scss */
.news__col {
  width: 100%;
  max-width: -webkit-calc((100% - 50px) / 2);
  max-width: calc((100% - 50px) / 2);
}

/* line 3, src/scss/_components/homepage/_desc.scss */
.desc {
  background-color: #bfb9b1;
}

/* line 6, src/scss/_components/homepage/_desc.scss */
.desc__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 3, src/scss/_components/homepage/_view.scss */
.view {
  background-color: #797672;
}

/* line 6, src/scss/_components/homepage/_view.scss */
.view__bg {
  opacity: 0.7;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-view@2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 20, src/scss/_components/homepage/_view.scss */
.view__wrapper {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(192, 185, 177, 0.5);
}

/* line 29, src/scss/_components/homepage/_view.scss */
.view__content {
  z-index: 2;
  position: relative;
  text-align: center;
}

/* line 35, src/scss/_components/homepage/_view.scss */
.view__title {
  padding-bottom: 15px;
  font-size: 35px;
  font-family: "StylishClassyFont", sans-serif;
  color: white;
}

/* line 42, src/scss/_components/homepage/_view.scss */
.view__desc {
  padding-bottom: 40px;
  font-size: 40px;
  color: #ffffff;
}

/* line 48, src/scss/_components/homepage/_view.scss */
.view__line {
  background-color: #ffffff;
}

/* line 51, src/scss/_components/homepage/_view.scss */
.view__line-1 {
  width: 2px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/* line 59, src/scss/_components/homepage/_view.scss */
.view__line-2 {
  width: 130px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* line 68, src/scss/_components/homepage/_view.scss */
.view__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 72, src/scss/_components/homepage/_view.scss */
.view__link a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

/* line 82, src/scss/_components/homepage/_view.scss */
.view__link a:hover:before, .view__link a:hover:after {
  width: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 89, src/scss/_components/homepage/_view.scss */
.view__link a:before, .view__link a:after {
  content: '';
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: calc(100% + 2px);
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 100, src/scss/_components/homepage/_view.scss */
.view__link a:before {
  left: 50%;
}

/* line 103, src/scss/_components/homepage/_view.scss */
.view__link a:after {
  right: 50%;
}

/* line 3, src/scss/_components/homepage/_shop.scss */
.shop {
  background-color: #efedeb;
}

/* line 6, src/scss/_components/homepage/_shop.scss */
.shop__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 11, src/scss/_components/homepage/_shop.scss */
.shop__content {
  text-align: center;
}

/* line 15, src/scss/_components/homepage/_shop.scss */
.shop__img {
  position: relative;
  width: 100%;
  height: 355px;
}

/* line 20, src/scss/_components/homepage/_shop.scss */
.shop__img img {
  -o-object-position: center top;
     object-position: center top;
}

/* line 26, src/scss/_components/homepage/_shop.scss */
.shop__title {
  padding-top: 80px;
  font-size: 35px;
  font-family: "StylishClassyFont", sans-serif;
  color: #46c7dd;
}

/* line 33, src/scss/_components/homepage/_shop.scss */
.shop__subtitle {
  padding-bottom: 20px;
  font-size: 40px;
  color: #505050;
}

/* line 39, src/scss/_components/homepage/_shop.scss */
.shop__line {
  width: 130px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #c0bab1;
}

/* line 48, src/scss/_components/homepage/_shop.scss */
.shop__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 52, src/scss/_components/homepage/_shop.scss */
.shop__btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 200px;
  height: 50px;
  border: 1px solid #46c7dd;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #46c7dd;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 65, src/scss/_components/homepage/_shop.scss */
.shop__btn a:hover {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 69, src/scss/_components/homepage/_shop.scss */
.shop__btn a:hover span {
  color: #46c7dd;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 75, src/scss/_components/homepage/_shop.scss */
.shop__btn a span {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/homepage/_footer.scss */
.footer {
  background-color: #efedeb;
}

/*# sourceMappingURL=maps/app.css.map */
