// SECTION :: START

section#menu.menu(mobile-block-js)

  .menu__nav
    a.menu__nav-link.menu__nav-link--main(href="#")
      p mind
    a.menu__nav-link.menu__nav-link--main(href="#")
      p heart
    a.menu__nav-link.menu__nav-link--main(href="#")
      p body
    a.menu__nav-link.menu__nav-link--main(href="#")
      p soul

    a.menu__nav-link.menu__nav-link--additional(href="#")
      span Who am I?
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span Practice online
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span Hatha-Ashtanga yoga schedule
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span Face Yoga Schedule
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span Pranic Food Recipes
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span Macramé Shop

// SECTION :: END
