// SECTION :: START

section#menu.menu(mobile-block-js)

  .menu__nav
    a.menu__nav-link.menu__nav-link--main(href="#")
      p mind
    a.menu__nav-link.menu__nav-link--main(href="#")
      p heart
    a.menu__nav-link.menu__nav-link--main(href="#")
      p body
    a.menu__nav-link.menu__nav-link--main(href="#")
      p soul

    a.menu__nav-link.menu__nav-link--additional(href="#")
      span ABOUT
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span PRACTICE ONLINE
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span SCHEDULE
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span PRESS
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span SHOP
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span MY ACCOUNT
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span CHECKOUT
    a.menu__nav-link.menu__nav-link--additional(href="#")
      span CART

// SECTION :: END
