---
title: MIND

pageClassName: p-home
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    #pagepiling
      include components/homepage/_main
      include components/homepage/_about
      include components/homepage/_works
      include components/homepage/_news
      include components/homepage/_desc
      include components/homepage/_view
      include components/homepage/_shop
      include components/homepage/_footer
