---
title: MIND

pageClassName: p-home
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    #pagepiling
      //include components/homepage/_main
      include components/homepage/_about

      section.section#works.works
        .section__wrapper.works__wrapper
      section.section#news.news
        .section__wrapper.news__wrapper
      section.section#desc.desc
        .section__wrapper.desc__wrapper
      section.section#view.view
        .section__wrapper.view__wrapper
      section.section#shop.shop
        .section__wrapper.shop__wrapper
      section.section#footer.footer
        .section__wrapper.footer__wrapper
