// HEADER :: START

.header {
	z-index: 1999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 30px 0;
	@include adaptive(767) {
		padding: 10px 10px 0;
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include adaptive(767) {
			align-items: center;
		}
	}

	.hamburger {
		z-index: 2000;
		position: absolute;
		top: 30px;
		right: 30px;
		@include adaptive(767) {
			position: static;
			top: 10px;
			right: 10px;
			padding: 0;
		}
	}
}

// HEADER :: END
