// SECTION :: START

.about {
	background-color: #faefe9;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__content {
		width: 100%;
		max-width: 655px;
		margin-left: auto;
		margin-right: auto;
	}

	&__line {
		width: 3px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
		background-color: #505050;
		@include adaptive(767) {
			height: 55px;
			margin-bottom: 40px;
		}
	}

	&__title {
		padding-bottom: 45px;
		font-size: 40px;
		color: #505050;
		@include adaptive(767) {
			padding-bottom: 30px;
			font-size: 30px;
		}

		span {
			font-family: 'StylishClassyFont', sans-serif;
			font-size: 35px;
			@include adaptive(767) {
				font-size: 28px;
			}
		}
	}

	&__slogan {
		//display: block;
		//max-width: 100%;
		//height: auto;
		//margin-left: auto;
		//margin-right: auto;
		padding-bottom: 15px;
		text-align: center;
		color: rgb(214, 129, 98);
		font-size: 50px;
		text-transform: uppercase;
		font-family: 'SamarkanNormal', sans-serif;
		@include adaptive(767) {
			font-size: 40px;
		}
	}

	&__desc {
		padding-bottom: 45px;
		font-size: 25px;
		color: rgb(214, 129, 98);
		//color: #ffffff;
		font-weight: bold;
		@include adaptive(767) {
			font-size: 20px;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-family: "Oswald", sans-serif;
		color: rgb(80, 80, 80);
		text-transform: uppercase;
		letter-spacing: letter-spacing-convert(20, 100);
		@include adaptive(767) {
			font-size: 18px;
		}
	}
}

// SECTION :: END
