// SECTION :: START

.main {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		text-align: center;

		> div {
			&:nth-of-type(1) {
				display: flex;
				align-items: center;
				padding-bottom: 70px;
			}
		}

		h4 {
			display: flex;
			font-size: 60px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: letter-spacing-convert(80, 100);

			&:nth-of-type(1) {
				a {
					color: #46c7dd;

					&:after {
						background-color: #46c7dd;
					}
				}
			}
			&:nth-of-type(2) {
				a {
					color: #e7717d;

					&:after {
						background-color: #e7717d;
					}
				}
			}
			&:nth-of-type(3) {
				a {
					color: #d68162;

					&:after {
						background-color: #d68162;
					}
				}
			}
			&:nth-of-type(4) {
				a {
					color: #8c994c;

					&:after {
						background-color: #8c994c;
					}
				}
			}

			a {
				position: relative;
				padding-left: 25px;
				padding-right: 25px;
				text-shadow: 0 0 5px rgba(#000, 0);
				@include transition(color, text-shadow);

				&:hover {
					color: #fff;
					text-shadow: 0 0 5px rgba(#000, 0.15);
					@include transition(color, text-shadow);

					&:after {
						height: 100%;
						@include transition(height);
					}
				}

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 0;
					@include transition(height);
				}

				span {
					z-index: 2;
					position: relative;
				}
			}
		}

		h3 {
			font-size: 16px;
			color: rgb(80, 80, 80);
			line-height: 1.1;
		}

		h1 {
			font-size: 80px;
			color: rgb(80, 80, 80);
			font-weight: bold;
			line-height: 1.1;
			text-transform: uppercase;
			letter-spacing: letter-spacing-convert(80, 100);
		}
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			display: block;
			transform: rotate(45deg);
			border-right: 2px solid #030404;
			border-bottom: 2px solid #030404;
			margin: 0 0 3px 4px;
			width: 16px;
			height: 16px;
			animation-timing-function: ease-in-out;
			animation: mouse-scroll 1s infinite;

			&:nth-of-type(1) {
				margin-top: 1px;
				animation-direction: alternate;
			}
			&:nth-of-type(2) {
				animation-delay: .2s;
				animation-direction: alternate;
				margin-top: -6px;
			}
			&:nth-of-type(3) {
				animation-delay: .3s;
				animation-direction: alternate;
				margin-top: -6px;
			}
		}

		&-wrapper {
			z-index: 10;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@keyframes mouse-scroll {
	0% {opacity: 0;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}

// SECTION :: END
