// SECTION :: START

.news {
	background-color: #bfb9b1;
	@include adaptive(767) {
		border-bottom: 1px solid #fff;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 1110px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(767) {
		  flex-wrap: wrap;
		}
	}

	&__col {
		width: 100%;
		max-width: calc((100% - 50px) / 2);
		@include adaptive(1439) {
			max-width: calc((100% - 40px) / 2);
		}
		@include adaptive(767) {
			max-width: 100%;

			&:not(:last-of-type) {
				padding-bottom: 75px;
			}
		}
	}
}

// SECTION :: END
