// SECTION :: START

.shop {
	background-color: #efedeb;
	@include adaptive(767) {
	  border-bottom: 1px solid #fff;
	}

	&__wrapper {
		height: auto;
	}

	&__content {
		text-align: center;
	}

	&__img {
		position: relative;
		width: 100%;
		height: 355px;
		@include adaptive(767) {
			height: 300px;
		}

		img {
			@extend %imageResCoverAbs;
			object-position: center top;
		}
	}

	&__title {
		padding-top: 80px;
		font-size: 35px;
		font-family: "StylishClassyFont", sans-serif;
		color: rgb(70, 199, 221);
		@include adaptive(767) {
			padding-bottom: 15px;
			font-size: 30px;
		}
	}

	&__subtitle {
		padding-bottom: 20px;
		font-size: 40px;
		color: #505050;
		@include adaptive(767) {
			font-size: 30px;
		}
	}

	&__line {
		width: 130px;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		background-color: #c0bab1;
	}

	&__btn {
		display: flex;
		justify-content: center;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 200px;
			height: 50px;
			border: 1px solid #46c7dd;
			box-shadow: none;
			border-radius: 0;
			background-color: #46c7dd;
			@include transition(background-color);

			&:hover {
				background-color: transparent;
				@include transition(background-color);

				span {
					color: #46c7dd;
					@include transition(color);
				}
			}

			span {
				font-size: 20px;
				text-transform: uppercase;
				font-family: "Oswald", sans-serif;
				color: #fff;
				letter-spacing: letter-spacing-convert(20, 100);
				@include transition(color);
				@include adaptive(767) {
					font-size: 18px;
				}
			}
		}
	}
}

// SECTION :: END
