// SECTION :: START

.view {
	background-color: #797672;

	&__bg {
		opacity: 0.7;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/img-view@2x.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__wrapper {
		z-index: 1;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(#c0b9b1, 0.5);
	}

	&__content {
		z-index: 2;
		position: relative;
		text-align: center;
	}

	&__title {
		padding-bottom: 15px;
		font-size: 35px;
		font-family: "StylishClassyFont", sans-serif;
		color: rgb(255, 255, 255);
		@include adaptive(767) {
			font-size: 30px;
		}
	}

	&__desc {
		padding-bottom: 40px;
		font-size: 40px;
		color: #ffffff;
		@include adaptive(767) {
			font-size: 30px;
		}
	}

	&__line {
		background-color: #ffffff;

		&-1 {
			width: 2px;
			height: 80px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
			@include adaptive(767) {
				height: 55px;
			}
		}

		&-2 {
			width: 130px;
			height: 2px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}
	}

	&__link {
		display: flex;
		justify-content: center;

		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-family: "Oswald", sans-serif;
			color: #ffffff;
			@include adaptive(767) {
				font-size: 16px;
			}

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: calc(100% + 2px);
				width: 0;
				height: 2px;
				background-color: #fff;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}
	}
}

// SECTION :: END
