// LOGOTYPE :: START

.logo {
	&.logo--header {}

	&__btn {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		@include adaptive(767) {
			width: 100%;
			max-width: 21px;
		}
	}
}

// LOGOTYPE :: END
