// SECTION :: START

section.section#about.about

  .section__wrapper.about__wrapper

    .about__content

      .about__line.about__line-1

      p.about__title!= "I'm <span>Garima Seksaria</span><br> and I'm all smiles to have you here."
      
      p.about__slogan Ra Ma Da Sa Sa say so hung
      
      p.about__desc Sun, Moon, Earth, Infinity: All that is in infinity, I am Thee.

      .about__line.about__line-2

      p.about__subtitle About me


// SECTION :: END
