// SECTION :: START

section.section#footer.footer

  .section__wrapper.footer__wrapper

    .footer__content

      .footer__social
        a(href="")
          img(src="img/insta.png" srcset="img/insta@2x.png 2x" alt="")
          span NirvanaWithinCo
        a(href="")
          img(src="img/fb.png" srcset="img/fb@2x.png 2x" alt="")
          span pridejoybanter
        a(href="")
          img(src="img/etsy.png" srcset="img/etsy@2x.png 2x" alt="")
          span pridejoybanter

      p.footer__title Sign up for my newsletter and receive a free meditation!
      p.footer__subtitle Garima Seksaria
      .footer__line

      .footer__menu
        a(href="#")
          span Contact
        a(href="#")
          span Privacy & Cookie Policies & Terms

      .footer__copyright
        p © 2021 Garima Seksaria. All Rights Reserved.

// SECTION :: END
