// SECTION :: START

section.section#main.main(style='background-image:url("img/img-main-bg@2x.jpg")')

  .section__wrapper.main__wrapper

    .main__content
      div
        h4
          a(href="#")
            span mind
        h4
          a(href="#")
            span heart
        h4
          a(href="#")
            span body
        h4
          a(href="#")
            span soul
      div
        h3 the sunshine in me honours the sunshine in you
        h1 NAMASTÉ

    .main__arrow-wrapper
      a.main__arrow(href="#" data-href='#about' anchor-js)
        div
          span
          span
          span



// SECTION :: END
