// SECTION :: START

section.section#main.main(style='background-image:url("img/img-main-bg@2x.jpg")')

  .section__wrapper.main__wrapper

    .main__content
      div
        h4 mind
        h4 heart
        h4 body
        h4 soul
      div
        h3 the sunshine in me honours the sunshine in you
        h1 NAMASTÉ

    .main__arrow-wrapper
      a.main__arrow(href="#")
        div
          span
          span
          span



// SECTION :: END
