// SECTION :: START

section.section#news.news

  .section__wrapper.news__wrapper

    .news__row
      .news__col

        .works__block
          .works__block-badge.works__block-badge--soul
            div
              p SOUL
            div
              span JAN 07, 2021

          .works__block-head
            img(src="img/img-news-1.jpg" srcset="img/img-news-1@2x.jpg 2x" alt="")

          .works__block-body

            p.works__block-title Blog Two Heading
            p.works__block-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id modi qui vero voluptate. Commodi consequuntur expedita hic, nihil omnis recusandae soluta! Magni natus nobis numquam, perferendis reprehenderit rerum sunt!
            .works__block-line
            .works__block-link
              a(href="#")
                span Read More

      .news__col

        .works__block
          .works__block-badge.works__block-badge--body
            div
              p BODY
            div
              span JAN 07, 2021

          .works__block-head
            img(src="img/img-news-2.jpg" srcset="img/img-news-2@2x.jpg 2x" alt="")

          .works__block-body

            p.works__block-title Blog Three Heading
            p.works__block-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id modi qui vero voluptate. Commodi consequuntur expedita hic, nihil omnis recusandae soluta! Magni natus nobis numquam, perferendis reprehenderit rerum sunt!
            .works__block-line
            .works__block-link
              a(href="#")
                span Read More

// SECTION :: END
