// SECTION :: START

section.section#shop.shop

  .section__wrapper.shop__wrapper

    .shop__img
      img(src="img/img-shop.jpg" srcset="img/img-shop@2x.jpg 2x" alt="")

    .shop__content
      p.shop__title Handmade Macrame Art
      p.shop__subtitle to Hygge Your Home
      .shop__line
      .shop__btn
        a(href="#")
          span GET SHOPPING

// SECTION :: END
