// SECTION :: START

section.section#view.view

  .view__bg

  .section__wrapper.view__wrapper

    .view__content
      p.view__title let’s practice together
      .view__line.view__line-1

      p.view__desc Begin Your Yoga Journey With Garima!
      .view__line.view__line-2

      .view__link
        a(href="#")
          span START NOW

// SECTION :: END
